<section class="container mt-5">
  <h1 class="mb-1">Lock or Unlock Records</h1>
  <p>
    Select a fiscal year to lock records for all parks.
  </p>
</section>
<section class="container mt-3">
  <div>
    <label class="fw-bold mb-2">Fiscal Year</label>
    <div class="text-muted mb-3">
      To lock a fiscal year, select the year that the fiscal year ends.<br>
      <em>e.g.</em> To lock April 2021&ndash;March 2022, select 2022.
    </div>
    <div class="row mb-3">
      <div class="col-md-12 col-lg-4">
        <ngds-date-input
          [control]="form?.controls?.['year']"
          [dateRange]="true"
          [hideSecondCalendar]="true"
          [fixedRangeSize]="duration"
          [minMode]="2"
          [rangeSeparator]="'-'"
          [dateFormat]="dateFormat"
          [dateDisplayFormat]="'LLLL yyyy'"
          [placeholder]="'Select fiscal year'"
          [maxDate]="maxDate"
        >
          <div
            ngdsInputPrepend
            class="bi bi-calendar px-2"
          ></div>
        </ngds-date-input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <button
        class="btn btn-primary w-100"
        type="button"
        (click)="submit()"
        [disabled]="!form?.controls?.['year'].value"
      >
        <app-text-to-loading-spinner
          [text]="'Lock Records '"
          (loadingStatus)="loading = $event"
        ></app-text-to-loading-spinner>
      </button>
    </div>
  </div>
</section>
<section class="container mt-5">
  <app-fiscal-year-lock-table [data]="fiscalYearsList"></app-fiscal-year-lock-table>
</section>