<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-4">
        <app-text-input
          [label]="'Nights on dock'"
          [icon]="'bi-person-fill'"
          [control]="nightsOnDock"
          [type]="'number'"
        ></app-text-input>
      </div>
      <div class="col-4">
        <app-text-input
          [label]="'Nights on buoys'"
          [icon]="'bi-person-fill'"
          [control]="nightsOnBuoy"
          [type]="'number'"
        ></app-text-input>
      </div>
      <div class="col-4">
        <app-text-input
          [label]="'Miscellaneous boats'"
          [icon]="'bi-person-fill'"
          [control]="miscellaneousBoats"
          [type]="'number'"
        ></app-text-input>
      </div>
    </div>
    <div class="row">
      <app-calculation-display
        [label]="'BOAT ATTENDANCE'"
        [subtext]="
          'Boat attendance = (On dock + On buoys + Miscellaneous boats)  x 3.2'
        "
      ></app-calculation-display>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-6">
        <app-text-input
          [label]="'Gross boating revenue'"
          [control]="grossBoatingRevenue"
          [moneyMode]="true"
        ></app-text-input>
      </div>
    </div>
    <div class="row">
      <app-calculation-display
        [colorClass]="'green'"
        [label]="'NET REVENUE'"
        [subtext]="'Net revenue = Gross revenue - 5% GST'"
      ></app-calculation-display>
    </div>
  </div>
</div>
