<div class="d-flex justify-content-between section-container">
  <div class="equal-width d-flex flex-column me-3">
    <div class="d-flex align-items-end flex-row flex-wrap mt-auto">
      <div class="input-box">
        <app-text-input
          [label]="'Nights on dock'"
          [icon]="'boat-icon'"
          [control]="nightsOnDock"
          [type]="'number'"
        ></app-text-input>
      </div>
      <div class="input-box">
        <app-text-input
          [label]="'Nights on buoys'"
          [icon]="'boat-icon'"
          [control]="nightsOnBuoy"
          [type]="'number'"
        ></app-text-input>
      </div>
      <div class="input-box">
        <app-text-input
          [label]="'Miscellaneous boats'"
          [icon]="'boat-icon'"
          [control]="miscellaneousBoats"
          [type]="'number'"
        ></app-text-input>
      </div>
    </div>
    <app-calculation-display
      [label]="'TOTAL PEOPLE'"
      [subtext]="attendanceTotal?.formula"
      [value]="attendanceTotal?.result"
    ></app-calculation-display>
  </div>
  <div class="equal-width d-flex flex-column ms-3">
    <div class="d-flex align-items-end">
      <div class="input-box">
        <app-text-input
          [label]="'Gross boating revenue'"
          [control]="grossBoatingRevenue"
          [moneyMode]="true"
        ></app-text-input>
      </div>
    </div>
    <div class="mt-auto">
      <app-calculation-display
        [colorClass]="'green'"
        [label]="'NET REVENUE'"
        [subtext]="revenueTotal?.formula"
        [value]="revenueTotal?.result"
      ></app-calculation-display>
    </div>
  </div>
</div>
