<app-park-header></app-park-header>

<div class="form-header">
  <h1>Boating</h1>
  <p>
    This section is for both boating camping and boating day use. If you make
    visual counts of anchored, beached, fishing, or other boats, enter those
    under Miscellaneous boats. Do not include boat launch counts or other counts
    that would duplicate attendance captured in the day use section.
  </p>
</div>

<form>
  <div class="form-section">
    <div class="row">
      <!-- Attendance -->
      <div class="col-12 col-lg-6 d-flex flex-column">
        <div class="row">
          <!-- Nights on dock -->
          <div
            class="input-box mb-2 d-flex align-items-end"
            [popover]="getPopoverData('boatAttendanceNightsOnDock') ? popover : null"
            [popoverContext]="{variance: getPopoverData('boatAttendanceNightsOnDock')}"
            placement="bottom"
            triggers="mouseenter:mouseleave"
          >
            <ngds-number-input
              [control]="form?.controls?.['boatAttendanceNightsOnDock']"
              [decimalPlaces]="0"
              [justify]="'end'"
              [invalidConfig]="invalidConfig"
              [allowNegative]="false"
              [label]="'Nights on dock'"
              [placeholder]="'No data'"
              [loadWhile]="loading"
            >
              <i
                ngdsInputPrepend
                class="boat-icon"
              ></i>
            </ngds-number-input>
          </div>
          <!-- Nights on buoys -->
          <div
            class="input-box mb-2 d-flex align-items-end"
            [popover]="getPopoverData('boatAttendanceNightsOnBouys') ? popover : null"
            [popoverContext]="{variance: getPopoverData('boatAttendanceNightsOnBouys')}"
            placement="bottom"
            triggers="mouseenter:mouseleave"
          >
            <ngds-number-input
              [control]="form?.controls?.['boatAttendanceNightsOnBouys']"
              [decimalPlaces]="0"
              [justify]="'end'"
              [invalidConfig]="invalidConfig"
              [allowNegative]="false"
              [label]="'Nights on buoys'"
              [placeholder]="'No data'"
              [loadWhile]="loading"
            >
              <i
                ngdsInputPrepend
                class="boat-icon"
              ></i>
            </ngds-number-input>
          </div>
          <!-- Miscellaneous -->
          <div
            class="input-box mb-2 d-flex align-items-end"
            [popover]="getPopoverData('boatAttendanceMiscellaneous') ? popover : null"
            [popoverContext]="{variance: getPopoverData('boatAttendanceMiscellaneous')}"
            placement="bottom"
            triggers="mouseenter:mouseleave"
          >
            <ngds-number-input
              [control]="form?.controls?.['boatAttendanceMiscellaneous']"
              [decimalPlaces]="0"
              [justify]="'end'"
              [invalidConfig]="invalidConfig"
              [allowNegative]="false"
              [label]="'Miscellaneous boats'"
              [placeholder]="'No data'"
              [loadWhile]="loading"
            >
              <div
                ngdsInputPrepend
                class="boat-icon"
              ></div>
            </ngds-number-input>
          </div>
        </div>
        <!-- Attendance summary -->
        <div class="mb-2">
          <app-calculation-display
            [label]="'BOAT ATTENDANCE'"
            [subtext]="attendanceTotal?.formula"
            [value]="attendanceTotal?.result"
          ></app-calculation-display>
        </div>
      </div>
      <!-- Revenue -->
      <div class="col-12 col-lg-6 d-flex flex-column">
        <div class="d-flex align-items-end">
          <!-- Gross revenue -->
          <div
            class="input-box mb-2 d-flex align-items-end"
            [popover]="getPopoverData('boatRevenueGross') ? popover : null"
            [popoverContext]="{variance: getPopoverData('boatRevenueGross', true)}"
            placement="bottom"
            triggers="mouseenter:mouseleave"
          >
            <ngds-number-input
              [control]="form?.controls?.['boatRevenueGross']"
              [decimalPlaces]="2"
              [justify]="'end'"
              [invalidConfig]="invalidConfig"
              [padDecimals]="true"
              [label]="'Gross boating revenue'"
              [placeholder]="'No data'"
              [loadWhile]="loading"
            >
              <i
                ngdsInputPrepend
                class="bi bi-currency-dollar px-2"
              ></i>
            </ngds-number-input>
          </div>
        </div>
        <!-- Revenue summary -->
        <div class="mb-2">
          <app-calculation-display
            [colorClass]="'green'"
            [label]="'NET REVENUE'"
            [subtext]="revenueTotal?.formula"
            [value]="revenueTotal?.result"
          ></app-calculation-display>
        </div>
      </div>
    </div>
  </div>
  <!-- Variance notes -->
  <div class="form-section">
    <h2>Variance notes</h2>
    <div class="row">
      <ngds-picklist-input
        class="col-lg-4"
        [control]="varianceReasonsForm?.controls?.['reason']"
        [loadWhile]="loading"
        [label]="'Variance category'"
        [selectionListItems]="varianceReasons"
        [placeholder]="'Please select'"
      >
      </ngds-picklist-input>
    </div>
    <div class="row">
      <ngds-picklist-input
        class="col-lg-4"
        *ngIf="getVarianceSubReasons()?.length > 0"
        [control]="varianceReasonsForm?.controls?.['subReason']"
        [loadWhile]="loading"
        [label]="'Subcategory'"
        [selectionListItems]="getVarianceSubReasons()"
        [placeholder]="'Please select'"
      >
      </ngds-picklist-input>
    </div>
    <ngds-text-input
      [control]="form?.controls?.['notes']"
      [showCharacterCount]="true"
      [multiline]="true"
      [loadWhile]="loading"
      [label]="'Notes'"
    >
    </ngds-text-input>
    <div>If any data entered above varies widely from the expected counts, briefly explain the variance.</div>
  </div>
</form>

<!-- Cancel and submit buttons -->
<div class="form-footer d-flex justify-content-between">
  <app-cancel-button [disabled]="loading"></app-cancel-button>
  <app-submit-button
    [disabled]="isSubmitButtonDisabled()"
    (clicked)="submit(true)"
  ></app-submit-button>
</div>
<div *ngIf="showVarianceModal">
  <app-variance-warning-modal
    (accept)="submit()"
    (decline)="hideModal()"
  ></app-variance-warning-modal>
</div>

<!-- Variance warning popover template -->
<ng-template
  #popover
  let-variance="variance"
>
  <div
    class="text-secondary"
    *ngIf="variance"
  >
    Average: {{variance?.historicalAverage}}
    <div class="d-flex">
      <div *ngFor="let year of getYearlyAverages(variance)">
        <div>
          {{ year.year }}: {{ year. value}}{{ year.hasOwnProperty('last') ? '' : ',&nbsp;'}}
        </div>
      </div>
    </div>
  </div>
</ng-template>