<h1>Boating</h1>
<p>
  This section is for both boating camping and boating day use. If you make
  visual counts of anchored, beached, fishing, or other boats, enter those under
  Miscellaneous boats. Do not include boat launch counts or other counts that
  would duplicate attendance captured in the day use section.
</p>
<app-boating-section></app-boating-section>
<h2>Variance notes</h2>
<app-text-area
  [charCap]="100"
  [label]="
    'If any data entered above varies widely from the expected counts, briefly explain the variance.'
  "
  [id]="'variance-notes'"
></app-text-area>
