@import "src/assets/styles/abstracts/mixins.scss";

html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
}

.box .content {
  flex: 1 1 auto;
}

.box .footer {
  flex: 0 1 auto;
}

.clickable {
  cursor: pointer;
}

.accordion {
  border: 2px solid $primary-blue;
  border-radius: 4px;

  .accordion-button{
    color: $primary-blue;
    background-color: white;
    box-shadow: none;
  }

  .accordion-item {
    border: none;
    color: black;
  }
}

.form-section {
  padding: 2rem;
}

.form-header {
  padding: 2rem;
}

.form-footer {
  padding: 2rem;
}

.form-section:nth-child(odd) {
  background-color: $form-grey;
}
