@import "@digitalspace/bcparks-bootstrap-theme/dist/scss/bootstrap-theme.scss";

html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
}

.box .content {
  flex: 1 1 auto;
}

.box .footer {
  flex: 0 1 auto;
}

.clickable {
  cursor: pointer;
}

.accordion {
  .accordion-button {
    color: $primary;
    background-color: white;
    box-shadow: none;
  }

  .accordion-item {
    border: none;
    color: black;
  }
}

.form-section {
  padding: 2rem 4rem 2rem 4rem;
}

.form-header {
  padding: 2rem;
}

.form-footer {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-section:nth-child(odd) {
  background-color: $form-grey;
}

.invalid-field {
  border: 2px solid $form-invalid;
  border-radius: 6px
}

.car-icon {
  background-image: url('/assets/images/car.svg');
  background-position: center center;
  background-size: 24px;
  height: 100%;
  line-height: 1.6;
  width: 40px;
  background-repeat: no-repeat;
}

.bus-icon {
  background-image: url('/assets/images/bus.svg');
  background-position: center center;
  background-size: 24px;
  height: 100%;
  line-height: 1.6;
  width: 40px;
  background-repeat: no-repeat;
}

.boat-icon {
  background-image: url('/assets/images/boat.svg');
  background-position: center center;
  background-size: 24px;
  height: 100%;
  line-height: 1.6;
  width: 40px;
  background-repeat: no-repeat;
}

.picnic-icon {
  background-image: url('/assets/images/picnic.svg');
  background-position: center center;
  background-size: 24px;
  height: 100%;
  line-height: 1.6;
  width: 40px;
  background-repeat: no-repeat;
}

.input-box {
  width: 100%;
  min-height: 100px;
  @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
    width: 180px;
  }
}

.dropdown-menu {
  min-width: 345px !important;
}

.tooltip-inner {
  border: 1px solid var(--bs-gray-200) !important;
  background-color: white !important;
  color: var(--bs-secondary) !important;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: var(--bs-gray-200) !important;
}