@import "src/assets/styles/abstracts/mixins.scss";

html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
}

.box .content {
  flex: 1 1 auto;
}

.box .footer {
  flex: 0 1 auto;
}

.clickable {
  cursor: pointer;
}

.accordion {
  border: 2px solid $primary-blue;
  border-radius: 4px;

  .accordion-button {
    color: $primary-blue;
    background-color: white;
    box-shadow: none;
  }

  .accordion-item {
    border: none;
    color: black;
  }
}

.form-section {
  padding: 2rem 4rem 2rem 4rem;
}

.form-header {
  padding: 2rem;
}

.form-footer {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-section:nth-child(odd) {
  background-color: $form-grey;
}

.invalid-field {
  border: 2px solid $form-invalid;
  border-radius: 6px
}

.car-icon {
  background-image: url('/assets/images/car.svg');
  background-position: center center;
  background-size: 26px auto;
  height: auto;
  line-height: 1.6;
  width: 40px;
  background-repeat: no-repeat;
}

.bus-icon {
  background-image: url('/assets/images/bus.svg');
  background-position: center center;
  background-size: 24px auto;
  height: auto;
  line-height: 1.6;
  width: 40px;
  background-repeat: no-repeat;
}

.boat-icon {
  background-image: url('/assets/images/boat.svg');
  background-position: center center;
  background-size: 24px auto;
  height: auto;
  line-height: 1.6;
  width: 40px;
  background-repeat: no-repeat;
}

.picnic-icon {
  background-image: url('/assets/images/picnic.svg');
  background-position: center center;
  background-size: 24px auto;
  height: auto;
  line-height: 1.6;
  width: 40px;
  background-repeat: no-repeat;
}