<div class="d-flex justify-content-between section-container">
  <div class="equal-width d-flex flex-column me-3">
    <div class="input-box">
      <app-text-input
        [label]="'Standard group nights'"
        [icon]="'bi-people-fill'"
        [control]="standardRateGroupsTotalPeopleStandardField"
        [type]="'number'"
      ></app-text-input>
    </div>
    <hr>
    <div class="d-flex align-items-end flex-row flex-wrap">
      <div class="input-box">
        <app-text-input
          [label]="'Adults (16+)'"
          [icon]="'bi-person-fill'"
          [control]="standardRateGroupsTotalPeopleAdultsField"
          [type]="'number'"
        ></app-text-input>
      </div>
      <div class="input-box">
        <app-text-input
          [label]="'Youth (6-15)'"
          [icon]="'bi-person-fill'"
          [control]="standardRateGroupsTotalPeopleYouthField"
          [type]="'number'"
        ></app-text-input>
      </div>
      <div class="input-box">
        <app-text-input
          [label]="'Kids (0-5)'"
          [icon]="'bi-person-fill'"
          [control]="standardRateGroupsTotalPeopleKidsField"
          [type]="'number'"
        ></app-text-input>
      </div>
    </div>
    <app-calculation-display
      [label]="'TOTAL PEOPLE'"
      [subtext]="attendanceTotal?.formula"
      [value]="attendanceTotal?.result"
    ></app-calculation-display>
  </div>

  <div class="equal-width d-flex flex-column ms-3">
    <div class="d-flex align-items-end mt-auto">
      <div class="input-box">
        <app-text-input
          [label]="'Gross standard group revenue'"
          [control]="standardRateGroupsRevenueGrossField"
          [moneyMode]="true"
        ></app-text-input>
      </div>
    </div>
    <div>
      <app-calculation-display
        [colorClass]="'green'"
        [label]="'NET REVENUE'"
        [subtext]="revenueTotal?.formula"
        [value]="revenueTotal?.result"
      ></app-calculation-display>
    </div>
  </div>
</div>
