<header id="header">
  <nav class="navbar navbar-expand-lg navbar-dark p-0">
    <div class="container-fluid">
      <a
        class="navbar-brand d-none d-md-inline"
        title="BC Parks - Camping Reservations"
        [routerLink]="['']"
        >
        <img
          src="/assets/images/bcparks_primary_reversed.svg"
          height="100"
          alt="BC Government Logo"
          />
      </a>
      <a
        class="navbar-brand d-inline d-md-none"
        title="BC Parks - Camping Reservations"
        [routerLink]="['']"
        >
        <img
          src="/assets/images/bcparks_wordmark_white.svg"
          height="60"
          alt="BC Parks Logo"
          />
      </a>
      @if (showSideBar) {
        <button
          class="navbar-toggler"
          type="button"
          (click)="isMenuCollapsed = !isMenuCollapsed"
          >
          &#9776;
        </button>
      }
      <div class="d-none d-lg-inline">
        <div class="me-auto"></div>
        @if (isAuthorized) {
          <div class="navbar-text me-3">
            {{ welcomeMsg }}
          </div>
        }
      </div>
    </div>
  </nav>
  <div
    [ngbCollapse]="isMenuCollapsed"
    class="collapse navbar-collapse text-white"
    >
    <div id="dropdown" class="d-lg-none">
      <ul class="navbar-nav">
        @for (route of routes; track route) {
          <li
            class="nav-item"
          [ngClass]="
            this.currentRoute?.url === '/' + route.path ? 'active' : ''
          "
            >
            <a [routerLink]="[route.path]">{{ route.data.label }}</a>
          </li>
        }
        @if (isAuthorized) {
          <div class="navbar-text welcome-text p-2">
            {{ welcomeMsg }}
          </div>
        }
      </ul>
    </div>
  </div>
  @if (showBanner) {
    <div
      class="env-banner text-center bg-danger text-white py-2"
      >
      This is the <strong>{{ envName }}</strong> environment. The content you are
      viewing is not final and subject to change.
    </div>
  }
</header>
