
<div class="land-acknowledgement">
  <p>We acknowledge all First Nations on whose territories BC Parks were established. <br> We honour their connection to the land and respect the importance of their diverse teachings, traditions, and practices within these territories.</p>
</div>
 
<footer class="text-center text-white" id="footer">
  <nav>
    <div class="row">
      <div class="col">
        Quick links:
      </div>
      <div class="col">
        <a href="https://reserve-admin.bcparks.ca/dayuse/">Day-Use Pass Admin</a>
      </div>
      <div class="col">
        <a href="mailto:parkoperatorsystems@gov.bc.ca">Contact Us</a>
      </div>
    </div>
  </nav>
</footer>
