<footer class="text-center text-white" id="footer">
    <nav>
      <div class="row">
        <div class="col">
          <a href="https://bcparks.ca/reserve">Home</a>
        </div>
        <div class="col">
          <a href="https://www2.gov.bc.ca/gov/content/home/copyright"
            >Copyright</a
          >
        </div>
        <div class="col">
          <a href="https://www2.gov.bc.ca/gov/content/home/disclaimer"
            >Disclaimer</a
          >
        </div>
        <div class="col">
          <a href="https://www2.gov.bc.ca/gov/content/home/privacy">Privacy</a>
        </div>
        <div class="col">
          <a href="https://www2.gov.bc.ca/gov/content/home/accessible-government"
            >Accessibility</a
          >
        </div>
      </div>
    </nav>
  </footer>
  