@import "/src/assets/themes/variables";

#footer {
  background-color: $primary-nav;
  height: 4.1rem;
  position: relative;
}

.row {
  max-width: 29rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -50%;
  white-space: nowrap;
  transform: translate(-5%, -50%);
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold
}

a:hover {
  color: $bcgold;
}
