<h1>Backcountry Camping</h1>
<p>
  This section is for backcountry camping, including both reserved and first
  come, first served camping. It should not be used for backcountry cabins.
</p>
<form [formGroup]="backcountryCampingForm">
  <div class="form-section">
    <app-backcountry-camping-section
      [peopleField]="backcountryCampingFields?.people"
      [grossCampingRevenueField]="backcountryCampingFields?.grossCampingRevenue"
    ></app-backcountry-camping-section>
  </div>
  <div class="form-section">
    <h2>Variance notes</h2>
    <app-text-area
      [charCap]="100"
      [control]="backcountryCampingFields?.notes"
      [label]="
        'If any data entered above varies widely from the expected counts, briefly explain the variance.'
      "
      [id]="'variance-notes'"
    ></app-text-area>
  </div>
  <div class="d-flex flex-row-reverse">
    <button class="btn btn-primary px-5" (click)="onSubmit()">Submit</button>
  </div>
</form>
