<h1>Backcountry Camping</h1>
<p>
  This section is for backcountry camping, including both reserved and first
  come, first served camping. It should not be used for backcountry cabins.
</p>
<div class="form-section">
  <app-backcountry-camping-section></app-backcountry-camping-section>
</div>
<div class="form-section">
  <h2>Variance notes</h2>
  <app-text-area
    [charCap]="100"
    [label]="'If any data entered above varies widely from the expected counts, briefly explain the variance.'"
    [id]="'variance-notes'"
  ></app-text-area>
</div>
