<div class="d-flex justify-content-between section-container">
  <div class="equal-width d-flex flex-column me-3">
     <div class="input-box">
      <app-text-input
        [label]="'Hot springs people'"
        [icon]="'bi-person-fill'"
        [control]="otherDayUsePeopleHotSpringsField"
        [type]="'number'"
      ></app-text-input>
    </div>
  </div>
  <div class="equal-width d-flex flex-column ms-3">
    <div class="d-flex align-items-end flex-row flex-wrap">
      <div class="input-box">
        <app-text-input
          [label]="'Gross hot springs revenue'"
          [control]="otherDayUseRevenueHotSpringsField"
          [moneyMode]="true"
        ></app-text-input>
      </div>
    </div>
    <app-calculation-display
      [colorClass]="'green'"
      [label]="'NET REVENUE'"
      [subtext]="revenueTotal?.formula"
      [value]="revenueTotal?.result"
    ></app-calculation-display>
  </div>
</div>
