<div class="row">
  <div class="col-6">
    <app-info-text
      [text]="'There are no attendance items to record in Other Day Use.'"
    ></app-info-text>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-6">
        <app-text-input
          [label]="'Gross skiing revenue'"
          [control]="otherDayUseRevenueSkiiField"
          [moneyMode]="true"
        ></app-text-input>
      </div>
      <div class="col-6">
        <app-text-input
          [label]="'Gross hot springs revenue'"
          [control]="otherDayUseRevenueHotSpringsField"
          [moneyMode]="true"
        ></app-text-input>
      </div>
      <app-calculation-display
        [colorClass]="'green'"
        [label]="'NET REVENUE'"
        [subtext]="revenueTotal?.formula"
        [value]="revenueTotal?.result"
      ></app-calculation-display>
    </div>
  </div>
</div>
