<div class="accordion mb-3">
  <div class="accordion-item">
    <div class="accordion-header-row d-flex flex-column flex-md-row">
      <!--mobile-->
      <div class="edit-row d-md-none">
        <div class="d-flex justify-content-end p-1 px-3">
          <button
            class="btn px-0 fw-bolder text-nowrap"
            (click)="edit()"
            [disabled]="lockCheck()"
          >
            <div *ngIf="lockCheck()">
              <i class="bi bi-lock"></i>
              Locked
            </div>
            <div *ngIf="!lockCheck">
              <i class="bi bi-pencil"></i>
              Edit
            </div>
          </button>
        </div>
      </div>
      <div class="accordion-header" id="{{ id }}">
        <button
          class="accordion-button d-flex justify-content-between align-content-center collapsed"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse' + id"
          aria-expanded="true"
          aria-controls="id"
        >
          <div class="col d-flex justify-content-start">
            <div class="d-flex align-items-center">
              <img
                class="d-none d-lg-block me-3"
                src="{{ icon }}"
                alt="{{ title }}"
                width="{{ iconSize }}"
                height="{{ iconSize }}"
              />
              <div class="h3 mb-0 pb-0">
                {{ title }}
              </div>
            </div>
          </div>
          <div class="col justify-content-end mx-3 d-none d-lg-flex">
            <div class="text-muted">
              {{ secondaryText }}
            </div>
          </div>
        </button>
        <!--mobile-->
        <div class="row justify-content-end mx-2 mb-2 d-lg-none d-flex">
          <div class="text-muted">
            {{ secondaryText }}
          </div>
        </div>
      </div>
      <div
        class="edit-column justify-content-center flex-column d-none d-md-flex"
      >
        <button
          class="btn px-0 fw-bolder text-nowrap"
          (click)="edit()"
          [disabled]="lockCheck()"
        >
          <div *ngIf="lockCheck()">
            <i class="bi bi-lock"></i>
            Locked
          </div>
          <div *ngIf="!lockCheck()">
            <i class="bi bi-pencil"></i>
            Edit
          </div>
        </button>
      </div>
    </div>
    <div
      id="collapse{{ id }}"
      class="accordion-collapse collapse"
      aria-labelledby="title"
    >
      <div class="accordion-body border-top-0">
        <div *ngIf="summaries">
          <div *ngFor="let item of summaries">
            <div class="mb-5 mt-3">
              <app-summary-section [section]="item"></app-summary-section>
            </div>
          </div>
        </div>
        <div *ngIf="notes">
          <h3>Variance notes</h3>
          <div class="mb-5">{{ notes }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
