@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "src/assets/themes/variables";

$edit-col-width: 108px;
$margin-overlap: 6px;
$border-width: 2px;
$border-radius: 4px;

.accordion-header-row {
  border: $border-width solid $primary-blue;
  border-radius: $border-radius;

  @media screen and (min-width: map-get($grid-breakpoints, "md")) {
    .accordion-header {
      flex: 1;
      border-right: $border-width solid $primary-blue;
    }
  }

  .edit-row {
    border-bottom: $border-width solid $primary-blue;
  }

  .edit-column {
    flex: 0 0 calc($edit-col-width - $border-width);
  }

  .edit-row,
  .edit-column {
    button.btn {
      color: $primary-blue;

      i {
        border-bottom: 2px solid $primary-blue;
        margin-right: 0.4em;
        font-size: 1.05em;
        -webkit-text-stroke-width: 1px;
      }
    }
  }
}

.accordion-body {
  @media screen and (min-width: map-get($grid-breakpoints, "md")) {
    width: calc(100% - $edit-col-width);
  }

  border: $border-width solid $primary-blue;
  border-radius: $border-radius;

  // use a negative margin and solid background to overlap the
  // accordion-header when the body is open, hiding the bottom
  // border and rounded corner of the header
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -$margin-overlap;
  padding-top: $margin-overlap;
  background-color: $white;
}

.accordion-collapse.collapsing {
  margin-top: -$margin-overlap;
  padding-top: $margin-overlap;

  & ~ .accordion-header-row > .accordion-header-edit-button {
    border: $border-width solid $primary-blue;
    border-bottom-right-radius: $border-radius;
  }
}
