<div class="d-flex justify-content-between section-container">
  <div class="equal-width d-flex flex-column me-3">
    <div class="d-flex align-items-end flex-row flex-wrap">
      <div class="input-box">
        <app-text-input
          [label]="'Picnic shelter rentals'"
          [icon]="'picnic-icon'"
          [control]="picnicRevenueShelterControl"
          [type]="'number'"
        ></app-text-input>
      </div>
      <div class="input-box">
        <app-text-input
          [label]="'Picnic shelter people'"
          [icon]="'bi-person-fill'"
          [control]="picnicShelterPeopleControl"
          [type]="'number'"
        ></app-text-input>
      </div>
    </div>
  </div>
  <div class="equal-width d-flex flex-column ms-3">
    <div class="d-flex align-items-end">
      <div class="input-box">
        <app-text-input
          [label]="'Gross picnic revenue'"
          [control]="picnicRevenueGrossControl"
          [moneyMode]="true"
        ></app-text-input>
      </div>
    </div>
    <div class="mt-auto">
      <app-calculation-display
        [colorClass]="'green'"
        [label]="'NET REVENUE'"
        [subtext]="revenueTotal?.formula"
        [value]="revenueTotal?.result"
      ></app-calculation-display>
    </div>
  </div>
</div>
