<label *ngIf="label" for="{{ id }}" class="fw-bold">{{ label }}</label>

<!-- For type number -->
<div *ngIf="!moneyMode && type === 'number'" class="input-group mb-3" [ngClass]="{'invalid-field': control?.errors}">
  <span
    *ngIf="icon"
    class="input-group-text"
    id="{{ ariaDescribedBy }}"
    [ngClass]="icon"
    ><i class="bi"></i
  ></span>
  <input
    type="number"
    name="{{ id }}"
    id="{{ id }}"
    (keydown)="blockInvalidChars($event)"
    min="0"
    [formControl]="control"
    class="form-control text-end"
    placeholder="{{ placeholder }}"
    attr.aria-label="{{ ariaLabel }}"
    attr.aria-describedby="{{ ariaDescribedBy }}"
  />
</div>
<!-- For type text -->
<div *ngIf="!moneyMode && type === 'text'" [ngClass]="{'invalid-field': control?.errors}">
  <span
    *ngIf="icon"
    class="input-group-text"
    id="{{ ariaDescribedBy }}"
    [ngClass]="icon"
    ><i class="bi"></i
  ></span>
  <input
    type="text"
    name="{{ id }}"
    id="{{ id }}"
    [formControl]="control"
    class="form-control text-end"
    placeholder="{{ placeholder }}"
    attr.aria-label="{{ ariaLabel }}"
    attr.aria-describedby="{{ ariaDescribedBy }}"
  />
</div>

<!-- For currency -->
<div *ngIf="moneyMode" class="input-group mb-3" [ngClass]="{'invalid-field': control?.errors}">
  <span class="input-group-text" id="{{ ariaDescribedBy }}"
    ><i class="bi bi-currency-dollar"></i
  ></span>
  <input
    type="number"
    name="{{ id }}"
    id="{{ id }}"
    class="form-control text-end"
    [formControl]="control"
    (keydown)="blockInvalidChars($event)"
    placeholder="{{ placeholder }}"
    step="0.01"
    attr.aria-label="{{ ariaLabel }}"
    attr.aria-describedby="{{ ariaDescribedBy }}"
  />
</div>
