<table class="table table-hover">
  <thead class="header">
    <tr>
      @for (column of columnSchema; track column) {
        <th
          class="{{ column.columnClasses }}"
          [ngStyle]="{ width: column.width }"
          >
          {{ column.displayHeader }}
        </th>
      }
    </tr>
  </thead>
  @if (rows?.length > 0) {
    <tbody>
      @for (row of rows; track row) {
        <tr
          app-table-row
          [columnSchema]="columnSchema"
          [rowData]="row"
        ></tr>
      }
    </tbody>
  }
</table>
@if (rows?.length === 0) {
  <div>
    <div class="d-flex justify-content-center">
      <div class="text-muted">
        {{ emptyTableMsg }}
      </div>
    </div>
    <hr />
  </div>
}
