<div class="d-flex justify-content-between section-container">
  <div class="equal-width d-flex flex-column me-3">
    <div class="d-flex align-items-end flex-row flex-wrap">
      <div class="input-box">
        <app-text-input
          [label]="'Standard'"
          [icon]="'bi-person-fill'"
          [control]="campingPartyNightsAttendanceStandardField"
          [type]="'number'"
        ></app-text-input>
      </div>
      <div class="input-box">
        <app-text-input
          [label]="'Senior'"
          [icon]="'bi-person-fill'"
          [control]="campingPartyNightsAttendanceSeniorField"
          [type]="'number'"
        ></app-text-input>
      </div>
      <div class="input-box">
        <app-text-input
          [label]="'Social services fee exemption'"
          [icon]="'bi-person-fill'"
          [control]="campingPartyNightsAttendanceSocialField"
          [type]="'number'"
        ></app-text-input>
      </div>
    </div>
    <app-info-text
      [text]="
        'Winter, Walk-in, and Unable to Collect should be added to Standard.'
      "
    ></app-info-text>
    <div class="d-flex align-items-end flex-wrap">
      <div class="input-box">
        <app-text-input
          [label]="'Long stay'"
          [icon]="'bi-person-fill'"
          [control]="campingPartyNightsAttendanceLongStayField"
          [type]="'number'"
        ></app-text-input>
      </div>
      <div>
        <app-info-text
          [text]="'Record all nights of a long stay on the arrival date.'"
        ></app-info-text>
      </div>
    </div>
    <app-calculation-display
      [label]="'TOTAL ATTENDANCE'"
      [subtext]="attendanceTotal?.formula"
      [value]="attendanceTotal?.result"
    ></app-calculation-display>
  </div>
  <div class="equal-width d-flex flex-column ms-3">
    <div class="d-flex align-items-end long-text">
      <div class="input-box">
        <app-text-input
          [label]="'Gross camping revenue'"
          [control]="campingPartyNightsRevenueGrossField"
          [moneyMode]="true"
        ></app-text-input>
      </div>
      <app-info-text class="text-block"
        [text]="
          'Camping fee revenue only. Do not include sani, shower, electrical, or second car revenue. Subtract onsite refunds before entering.'
        "
      ></app-info-text>
    </div>
    <div class="mt-auto">
      <app-calculation-display
        [colorClass]="'green'"
        [label]="'NET REVENUE'"
        [subtext]="revenueTotal?.formula"
        [value]="revenueTotal?.result"
      ></app-calculation-display>
    </div>
  </div>
</div>
