input[type="checkbox"] {
  height: 16px;
  width: 16px;
}

// Override the bcgov overrides for input label size
ngds-input-header {
  > div > div > label > div {
    font-size: 1rem !important;
  }
}

ngds-calendar > div {
  width: 360px !important;
}

// make the date-input dynamic for differing text sizes
ngds-date-input {
  display: block !important;
  width: fit-content;
  min-width: 250px;

  > div > div > button {
    height: auto !important;
  }
}
