@import "src/assets/themes/variables";

:host {
  background: $form-grey;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding-top: 5rem;
}

.box {
  background: $white;
  width: 80%;
  max-width: 50rem;
  padding: 2.5rem;
  height: fit-content;
  text-align: center;
  border: 1px solid $grey;
}

// the box disappers on mobile, and the page background is just white
@media screen and (max-width: 768px) {
  :host {
    display: block;
    padding-top: 0;
    background-color: $white;
  }

  .box {
    width: 100%;
    border: none;
  }
}
