<div class="box">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content" fxFlex fxLayout="column">
    <div class="wrapper h-100">
      <app-sidebar class="d-none d-lg-inline"></app-sidebar>
      <div class="content">
        <app-toggle-button class="d-none d-lg-inline"></app-toggle-button>
        <app-breadcrumb></app-breadcrumb>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
