<div class="d-flex justify-content-between section-container">
  <div class="equal-width d-flex flex-column me-3">
    <div class="d-flex align-items-end flex-row flex-wrap equal-height">
        <div class="input-box">
          <app-text-input
          [label]="'Parties'"
          [icon]="'bi-person-fill'"
          [control]="totalAttendancePartiesField"
          [type]="'number'"
        ></app-text-input>
        </div>
        <app-info-text class="text-block"
          [text]="'Includes all adults, youth, and kids.'"
        ></app-info-text>
      </div>
      <div class="mt-auto">
        <app-calculation-display
          [colorClass]="'blue'"
          [label]="'TOTAL ATTENDANCE'"
          [subtext]="attendanceTotal?.formula"
          [value]="attendanceTotal?.result"
        ></app-calculation-display>
      </div>
  </div>
  <div class="equal-width d-flex flex-column ms-3">
    <div class="d-flex align-items-end flex-row flex-wrap equal-height">
      <div class="input-box">
        <app-text-input
          [label]="'Gross camping revenue'"
          [control]="revenueGrossCampingField"
          [moneyMode]="true"
        ></app-text-input>
      </div>
      <app-info-text class="text-block"
        [text]="'Camping fee revenue only. Subtract onsite refunds before entering.'"
      ></app-info-text>
    </div>
    <div class="mt-auto">
      <app-calculation-display
        [colorClass]="'green'"
        [label]="'NET REVENUE'"
        [subtext]="revenueTotal?.formula"
        [value]="revenueTotal?.result"
      ></app-calculation-display>
    </div>
  </div>
</div>
