<label *ngIf="label" for="{{ id }}" class="fw-bold">{{ label
  }}<span *ngIf="required" class="text-danger">&nbsp;*</span></label>

<div class="input-group mb-3">
  <span *ngIf="icon" class="input-group-text" [ngClass]="icon"><i class="bi"></i></span>
  <select name="{{ id }}" id="{{ id }}"
    class="form-control" [formControl]="control" [value]="control?.value">
    <option selected *ngIf="placeholder" value="null">
      {{ placeholder }}
    </option>
    <option *ngFor="let option of options; index as i" value="{{ option?.value }}" [disabled]="option?.disabled">
      {{ option?.display }}
    </option>
  </select>
</div>
