<div class="d-flex justify-content-between section-container">
  <div class="equal-width d-flex flex-column me-3">
    <div class="d-flex align-items-end flex-row flex-wrap">
      <div class="input-box">
        <app-text-input [label]="'Vehicle count'" [icon]="'car-icon'" [control]="peopleAndVehiclesVehicleField"
          [type]="'number'"></app-text-input>
      </div>
      <div class="input-box">
        <app-text-input [label]="'Bus count'" [icon]="'bus-icon'" [control]="peopleAndVehiclesBusField"
          [type]="'number'"></app-text-input>
      </div>
      <div class="input-box">
        <app-text-input [label]="'Trail count'" [icon]="'bi-person-fill'" [control]="peopleAndVehiclesTrailField"
          [type]="'number'"></app-text-input>
      </div>
    </div>
    <app-info-text class="text-block" [text]="
      'If counters capture day use and camping traffic, subtract camping count before entering here. If counters capture 2-way traffic, divide the total by 2 before entering.'
    "></app-info-text>
    <div class="mt-auto">
      <app-calculation-display [label]="'TOTAL ATTENDANCE'" [subtext]="attendanceTotal?.formula"
        [value]="attendanceTotal?.result"></app-calculation-display>
    </div>
  </div>
  <div class="equal-width d-flex flex-column ms-3">
    <div class="d-flex flex-row long-text">
      <div class="d-flex flex-column" id="p-and-v-col">
      </div>
      <div class="text-block" id="p-and-v-info">
        <app-info-text [text]="
            'There are no revenue items to record in Day Use, People and vehicles.'
          "></app-info-text>
      </div>
    </div>
  </div>
</div>