<div class="form-header">
  <h1>Frontcountry Camping</h1>
  <p>
    This section is for standard frontcountry camping, including both reserved
    and first come, first served. Used for cabins or group camping.
  </p>
</div>
<form [formGroup]="form">
  <div class="form-section">
    <h2>Camping party nights</h2>
    <app-camping-party-nights
      [campingPartyNightsAttendanceStandardField]="
        fields?.campingPartyNightsAttendanceStandard
      "
      [campingPartyNightsAttendanceSeniorField]="
        fields?.campingPartyNightsAttendanceSenior
      "
      [campingPartyNightsAttendanceSocialField]="
        fields?.campingPartyNightsAttendanceSocial
      "
      [campingPartyNightsAttendanceLongStayField]="
        fields?.campingPartyNightsAttendanceLongStay
      "
      [campingPartyNightsRevenueGrossField]="
        fields?.campingPartyNightsRevenueGross
      "
      [attendanceTotal]="partyAttendanceTotal"
      [revenueTotal]="partyRevenueTotal"
    ></app-camping-party-nights>
  </div>
  <div class="form-section">
    <h2>Second cars/additional vehicles</h2>
    <app-additional-vehicles
      [secondCarsAttendanceStandardField]="fields?.secondCarsAttendanceStandard"
      [secondCarsAttendanceSeniorField]="fields?.secondCarsAttendanceSenior"
      [secondCarsAttendanceSocialField]="fields?.secondCarsAttendanceSocial"
      [secondCarsRevenueGrossField]="fields?.secondCarsRevenueGross"
      [attendanceTotal]="vehicleAttendanceTotal"
      [revenueTotal]="vehicleRevenueTotal"
    ></app-additional-vehicles>
  </div>
  <div class="form-section">
    <h2>Other frontcountry camping revenue</h2>
    <app-other-frontcountry-camping-revenue
      [otherRevenueGrossSaniField]="fields?.otherRevenueGrossSani"
      [otherRevenueElectricalField]="fields?.otherRevenueElectrical"
      [otherRevenueShowerField]="fields?.otherRevenueShower"
      [revenueTotal]="otherRevenueTotal"
    ></app-other-frontcountry-camping-revenue>
  </div>
  <div class="form-section">
    <h2>Variance notes</h2>
    <app-text-area
      [charCap]="100"
      [control]="fields?.notes"
      [label]="
        'If any data entered above varies widely from the expected counts, briefly explain the variance.'
      "
      [id]="'variance-notes'"
    ></app-text-area>
  </div>
</form>
<div class="form-footer d-flex justify-content-between">
  <app-cancel-button></app-cancel-button>
  <button
    class="btn btn-primary px-5"
    [disabled]="loading"
    (click)="onSubmit()"
  >
    <app-text-to-loading-spinner
      [text]="'Save'"
    ></app-text-to-loading-spinner>
  </button>
</div>
