<h1>Frontcountry Camping</h1>
<p>
  This section is for standard frontcountry camping, including both reserved and
  first come, first served. Used for cabins or group camping.
</p>
<app-camping-party-nights></app-camping-party-nights>
<app-additional-vehicles></app-additional-vehicles>
<app-other-frontcountry-camping-revenue></app-other-frontcountry-camping-revenue>
<h2>Variance notes</h2>
<app-text-area
  [charCap]="100"
  [label]="
    'If any data entered above varies widely from the expected counts, briefly explain the variance.'
  "
  [id]="'variance-notes'"
></app-text-area>
