<div class="d-flex justify-content-between section-container">
  <div class="equal-width d-flex flex-column me-3">
    <div class="d-flex align-items-end flex-row flex-wrap equal-height">
      <div class="input-box">
        <app-text-input
          [label]="'People'"
          [icon]="'bi-person-fill'"
          [control]="peopleField"
          [type]="'number'"
        ></app-text-input>
      </div>
      <app-info-text
        [text]="'Enter the number of people counted or observed.'"
      ></app-info-text>
    </div>
  </div>
  <div class="equal-width d-flex flex-column ms-3">
    <div class="d-flex align-items-end">
      <div class="input-box">
        <app-text-input
          [label]="'Gross camping revenue'"
          [moneyMode]="true"
          [control]="grossCampingRevenueField"
        ></app-text-input>
      </div>
    </div>
    <div class="mt-auto">
      <app-calculation-display
        [colorClass]="'green'"
        [label]="'NET REVENUE'"
        [subtext]="revenueTotal?.formula"
        [value]="revenueTotal?.result"
      ></app-calculation-display>
    </div>
  </div>
</div>
