<label for="{{ id }}" class="fw-bold">{{ label }}</label>
<div class="input-group">
  <input
  id="{{ id }}"
  type="text"
  class="form-control border-end-0"
  placeholder="{{ placeholder }}"
  [(ngModel)]="model"
  [ngbTypeahead]="search"
  [inputFormatter]="formatter"
  (focus)="focus$.next($any($event).target.value)"
  (click)="click$.next($any($event).target.value)"
  (selectItem)="setControlValue($event)"
  #instance="ngbTypeahead"
  [disabled]="disabled ? true : false"
  [resultTemplate]="rt"
  />
  <span class="input-group-text border-start-0 clear-button" [ngStyle]="{'background-color': disabled ? '#e9ecef' : 'white'}" (click)="setControlValue(null)" type="button">
      <i class="bi bi-x-lg"></i>
  </span>
</div>

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight *ngIf="!r.template" [result]="r.display" [term]="t"></ngb-highlight>
  <ng-container *ngIf="r.template" [ngTemplateOutlet]="r.template" [ngTemplateOutletContext]="{result:r,term:t}"></ng-container>
</ng-template>
