<div class="form-section">
  <h2>Non-resident revenue</h2>
  <div class="row pb-4">
    <div class="col-12 col-lg-6 d-flex flex-column flex-grow-1">
      <div class="row">
        <div
          class="input-box mb-2 full-input"
          [popover]="popoverData ? popoverTemplate : null"
          [popoverContext]="{variance: popoverData}"
          placement="bottom"
          triggers="mouseenter:mouseleave"
        >
          <ngds-number-input
            [control]="control"
            [decimalPlaces]="2"
            [justify]="'start'"
            [invalidConfig]="invalidConfig"
            [padDecimals]="true"
            [label]="'Gross non-resident revenue (in-park collection only)'"
            [placeholder]="'No data'"
            [loadWhile]="loading"
          >
            <i
              ngdsInputPrepend
              class="bi bi-currency-dollar px-2"
            ></i>
          </ngds-number-input>
        </div>
        <app-info-text
          class="text-block"
          [text]="'Non-resident net revenue is not included in the Total net revenue on reports'"
        ></app-info-text>
      </div>
      <div class="mb-2 pb-4 mt-auto">
        <app-calculation-display
          [colorClass]="'green'"
          [label]="'NET REVENUE'"
          [subtext]="total?.formula"
          [value]="total?.result"
        ></app-calculation-display>
      </div>
    </div>
  </div>
</div>

