<div class="p-4 bg-info">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <label class="fw-bold">Date</label>
      <input
        [(ngModel)]="modelDate"
        autocomplete="off"
        class="form-control"
        name="date"
        placeholder="Select date"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'MM/YYYY' }"
        (onShown)="onOpenCalendar($event)"
        (ngModelChange)="datePickerOutput($event)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <app-typeahead
        [id]="'park-typeahead'"
        [data]="parks['typeAheadData']"
        [label]="'Park'"
        [placeholder]="'Search by park name'"
        [disabled]="typeAheadDisabled"
        [model]="modelPark"
        (output)="parkTypeaheadOutput($event)"
      ></app-typeahead>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <app-select
        [id]="'sub-area-select'"
        [data]="subAreas.selectData"
        [model]="modelSubArea"
        [label]="'Sub-areas'"
        [disabled]="subAreaDisabled"
        (output)="subAreaOutput($event)"
      ></app-select>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 align-self-end">
      <button
        class="btn btn-primary w-50"
        type="button"
        [disabled]="continueDisabled || loading"
        (click)="search()"
      >
        <app-text-to-loading-spinner
          [text]="'Go'"
          (loadingStatus)="loading = $event"
        ></app-text-to-loading-spinner>
      </button>
    </div>
  </div>
</div>
