<div class="p-4 bg-info">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <label class="fw-bold">Date</label>
      <input
        [(ngModel)]="modelDate"
        autocomplete="off"
        class="form-control"
        name="date"
        placeholder="Select date"
        bsDatepicker
        [maxDate]="maxDate"
        [bsConfig]="{ dateInputFormat: 'MM/YYYY' }"
        (onShown)="onOpenCalendar($event)"
        (ngModelChange)="dateChange($event)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <!-- wait for controls to load before rendering typeaheads -->
      <app-typeahead *ngIf="fields.park"
        #parkTypeAhead
        [control]="fields.park"
        [id]="'park-typeahead'"
        [data]="parks"
        [label]="'Park'"
        [placeholder]="parkDisabled ? 'Select a date to see parks' : 'Search by park name'"
        [disabled]="parkDisabled"
      ></app-typeahead>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <app-typeahead *ngIf="fields.subArea"
        #subAreaTypeAhead
        [control]="fields.subArea"
        [id]="'subareas-typeahead'"
        [data]="subAreas"
        [label]="'Subarea'"
        [placeholder]="subAreaDisabled ? 'Select a park to see subareas' : 'Search by subarea name'"
        [disabled]="subAreaDisabled"
      ></app-typeahead>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 align-self-end">
      <button
        class="btn btn-primary w-50"
        type="button"
        [disabled]="continueDisabled || loading"
        (click)="search()"
      >
        <app-text-to-loading-spinner
          [text]="'Go'"
          (loadingStatus)="loading = $event"
        ></app-text-to-loading-spinner>
      </button>
    </div>
  </div>
</div>

<ng-template #historicalPill let-r="result" let-t="term">
  <ngb-highlight [result]="r.display" [term]="t"></ngb-highlight>
  <div class="mx-2 badge bg-primary historical-pill">historical</div>
</ng-template>

