<div class="form-header">
  <h1>Day Use</h1>
  <p>
    Not all items shown below will apply to all Day Use areas. Leave fields
    blank if they are not relevant to the sub-area.
  </p>
</div>
<form [formGroup]="form">
  <div class="form-section">
    <h2>People and vehicles</h2>
    <app-people-and-vehicles
      [peopleAndVehiclesTrailField]="fields?.peopleAndVehiclesTrail"
      [peopleAndVehiclesVehicleField]="fields?.peopleAndVehiclesVehicle"
      [peopleAndVehiclesBusField]="fields?.peopleAndVehiclesBus"
      [attendanceTotal]="attendanceTotal"
    ></app-people-and-vehicles>
  </div>
  <div class="form-section">
    <h2>Picnic Shelters</h2>
    <app-picnic-shelters
      [picnicRevenueShelterControl]="fields?.picnicRevenueShelter"
      [picnicRevenueGrossControl]="fields?.picnicRevenueGross"
      [revenueTotal]="picnicRevenueTotal"
    ></app-picnic-shelters>
  </div>
  <div class="form-section">
    <h2>Other day use</h2>
    <app-other-day-use
      [otherDayUseRevenueSkiiField]="fields?.otherDayUseRevenueSkii"
      [otherDayUseRevenueHotSpringsField]="fields?.otherDayUseRevenueHotSprings"
      [revenueTotal]="otherRevenueTotal"
    ></app-other-day-use>
  </div>
  <div class="form-section">
    <h2>Variance notes</h2>
    <app-text-area
      [charCap]="100"
      [control]="fields?.notes"
      [label]="
        'If any data entered above varies widely from the expected counts, briefly explain the variance.'
      "
      [id]="'variance-notes'"
    ></app-text-area>
  </div>
</form>
<div class="form-footer d-flex justify-content-between">
  <app-cancel-button [disabled]="loading"></app-cancel-button>
  <button
    class="btn btn-primary px-5"
    [disabled]="loading"
    (click)="onSubmit()"
  >
    <app-text-to-loading-spinner [text]="'Save'"></app-text-to-loading-spinner>
  </button>
</div>
