@import "src/assets/themes/variables";

.toggle-button-offset {
  padding-left: 1rem;
}

@media (min-width: 992px) {
  .toggle-button-offset {
    padding-left: 3rem;
  }
}

nav {
  padding-top: 1.25rem;
  height: 4rem;
  background: $light;
}

a:hover {
  cursor: pointer;
}
