<div class="container pt-4 pt-md-5">
  <div class="home-title-container text-center">
    <h1>
      <span>BC Parks - Attendance and Revenue</span>
    </h1>
  </div>
  <div class="row">
    @for (card of cardConfig; track card) {
      <div class="col-lg-6 col-md-12 mb-4">
        <app-nav-card
          [cardHeader]="card.cardHeader"
          [cardTitle]="card.cardTitle"
          [cardText]="card.cardText"
          [navigation]="card.navigation"
        ></app-nav-card>
      </div>
    }
  </div>
</div>
