<div
  class="date-input"
  [ngClass]="{ 'is-invalid': isValidate && !isValidDate(ngbDate) }"
>
  <input
    class="form-control"
    type="text"
    placeholder="YYYY-MM-DD"
    name="ngbDatepicker"
    navigation="select"
    ngbDatepicker
    #ngbDatepicker="ngbDatepicker"
    [firstDayOfWeek]="7"
    [(ngModel)]="ngbDate"
    (ngModelChange)="onDateChange($event)"
    [minDate]="minNgbDate"
    [maxDate]="maxNgbDate"
    [disabled]="isDisabled"
  />
  <button
    class="date-input__calendar-btn form-control"
    (click)="ngbDatepicker.toggle()"
    type="button"
    title="Select a Date"
    [disabled]="isDisabled"
    [hidden]="isDisabled"
  >
    <span class="bi bi-calendar md-18"></span>
  </button>
  <button
    class="date-input__clear-btn"
    [hidden]="!ngbDate || isDisabled"
    (click)="clearDate()"
    title="Clear Date"
  >
    <span class="bi bi-x md-18"></span>
  </button>
</div>

<div
  class="invalid-feedback bg-danger"
  *ngIf="isValidate && !isValidDate(ngbDate)"
>
  Enter a valid date
</div>
