name: Deploy Test

run-name: Deploying ${{ github.ref }} to test

on:
  push:
    tags:
      - "*"

env:
  TF_VERSION: 0.14.7
  TG_VERSION: 0.26.7
  TG_SRC_PATH: terraform
  TFC_WORKSPACE: test
  TARGET_ENV: test

jobs:
  s3:
    name: Upload to S3
    runs-on: ubuntu-20.04
    environment: test
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_SANDBOX }}
          role-duration-seconds: 900
          role-session-name: parks-ar-admin-sandbox-gh-action
          role-skip-session-tagging: true

      - uses: "marvinpinto/action-inject-ssm-secrets@v1.2.1"
        with:
          ssm_parameter: "/parks-ar-sandbox/s3-bucket-admin-artifacts"
          env_variable_name: "S3_BUCKET_ARTIFACTS"

      - name: Copy from s3 sandbox
        env:
          s3_bucket: "${{ env.S3_BUCKET_ARTIFACTS }}"
          dir_name: ${{ github.sha }}
        run: |
          aws s3 sync s3://$s3_bucket/$dir_name/ dist/bcparks-ar-admin

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 900
          role-session-name: parks-ar-admin-test-gh-action
          role-skip-session-tagging: true

      - uses: "marvinpinto/action-inject-ssm-secrets@v1.2.1"
        with:
          ssm_parameter: "/parks-ar-admin/s3-bucket"
          env_variable_name: "S3_BUCKET"

      - name: Deploy to Test S3
        env:
          s3_bucket: "${{ env.S3_BUCKET }}-${{ env.TARGET_ENV }}"
          dir_name: ${{ github.ref }}
        run: |
          aws s3 sync dist/bcparks-ar-admin s3://$s3_bucket/$dir_name/

  terragrunt:
    name: Run Terragrunt
    needs: ["s3"]
    runs-on: ubuntu-20.04
    environment: test
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      ### Get environment variables from AWS Parameter Store ###
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 900
          role-session-name: parks-ar-admin-test-gh-action
          role-skip-session-tagging: true

      # Admin variables
      - uses: "marvinpinto/action-inject-ssm-secrets@v1.2.1"
        with:
          ssm_parameter: "/parks-ar-admin/s3-bucket"
          env_variable_name: "S3_BUCKET"
      - uses: "marvinpinto/action-inject-ssm-secrets@v1.2.1"
        with:
          ssm_parameter: "/parks-ar-admin/origin-id"
          env_variable_name: "ORIGIN_ID"

      # API variables
      - uses: "marvinpinto/action-inject-ssm-secrets@v1.2.1"
        with:
          ssm_parameter: /parks-ar-api/origin-domain
          env_variable_name: "API_GATEWAY_ORIGIN_DOMAIN"
      - uses: "marvinpinto/action-inject-ssm-secrets@v1.2.1"
        with:
          ssm_parameter: /parks-ar-api/origin-id
          env_variable_name: "API_GATEWAY_ORIGIN_ID"
      - uses: "marvinpinto/action-inject-ssm-secrets@v1.2.1"
        with:
          ssm_parameter: /parks-ar-api/gateway-path-pattern
          env_variable_name: "API_GATEWAY_PATH_PATTERN"

      - name: Setup Terrafrom
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ env.TF_VERSION }}
          cli_config_credentials_token: ${{ secrets.TFC_TEAM_TOKEN }}

      - name: Setup terragrunt
        uses: peter-murray/terragrunt-github-action@v1.0.0
        with:
          terragrunt_version: ${{ env.TG_VERSION }}

      - name: Terragrunt Apply
        working-directory: ${{ env.TG_SRC_PATH }}/${{ env.TFC_WORKSPACE }}
        env:
          app_version: ${{ github.ref }}
          s3_bucket: ${{ env.S3_BUCKET }}
          s3_bucket_assets: ${{ env.S3_BUCKET_ASSETS }}
          origin_id: ${{ env.ORIGIN_ID }}
          api_gateway_origin_domain: ${{ env.API_GATEWAY_ORIGIN_DOMAIN }}
          api_gateway_origin_id: ${{ env.API_GATEWAY_ORIGIN_ID }}
          api_gateway_path_pattern: ${{ env.API_GATEWAY_PATH_PATTERN }}
          origin_id_assets: ${{ env.ORIGIN_ID_ASSETS }}
        run: terragrunt apply-all --terragrunt-non-interactive

  alert-if-failure:
    if: ${{ always() && ((needs.s3.result=='failure') || (needs.terragrunt.result=='failure'))}}
    runs-on: ubuntu-latest
    needs: [terragrunt, s3]
    steps:
      - name: Send alert if building admin-test fails.
        id: failure_alert
        run: |
          curl -X POST -H 'Content-Type: application/json' --data '{"workflow":"${{github.workflow}}","repo":"${{github.repository}}"}' https://chat.developer.gov.bc.ca/hooks/${{ secrets.ROCKETCHAT_TOKEN }}
